body {
  background-color: #ffffff;
  margin: 0px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    background-color: #b1b1b1;
    text-align:right;
}

li {
   display: inline-block;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 30px;
        text-decoration: none;
        direction: rtl;
    }

        li a:hover {
            background-color: #111;
        }