* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v487019_863 {
  width: 100%;
  height: 1080px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v487019_870 {
  width: 100%;
  height: 1016px;
  background: url("../images/v487019_870.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0px;
  overflow: hidden;
}
.v487019_871 {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_872 {
  width: 100%;
  height: 945px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 702px;
  overflow: hidden;
}
.v487019_873 {
  width: 807px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 409px;
  left: 784px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v487019_874 {
  width: 656px;
  height: 100%;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_875 {
  width: 132px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 814px;
  left: 927px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v487019_876 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 810px;
  left: 784px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v487019_877 {
  width: 545px;
  height: 216px;
  background: url("../images/v487019_877.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 740px;
  overflow: hidden;
}
.v487019_878 {
  width: 545px;
  height: 100px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v487019_879 {
  width: 420px;
  height: 77px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 19px;
  overflow: hidden;
}
.v487019_880 {
  width: 498px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 126px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_881 {
  width: 418px;
  height: 63px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_882 {
  width: 228px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_883 {
  width: 545px;
  height: 216px;
  background: url("../images/v487019_883.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 1306px;
  overflow: hidden;
}
.v487019_884 {
  width: 545px;
  height: 100px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v487019_885 {
  width: 420px;
  height: 77px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 19px;
  overflow: hidden;
}
.v487019_886 {
  width: 498px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 126px;
  left: 20px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_887 {
  width: 418px;
  height: 63px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_888 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_889 {
  width: 100%;
  height: 482px;
  background: url("../images/v487019_889.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 740px;
  overflow: hidden;
}
.v487019_890 {
  width: 100%;
  height: 366px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v487019_891 {
  width: 420px;
  height: 77px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 19px;
  overflow: hidden;
}
.v487019_892 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 153px;
  left: 40px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_893 {
  width: 418px;
  height: 63px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_894 {
  width: 124px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v487019_931 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 1541px;
  overflow: hidden;
}
.v487019_932 {
  width: 35px;
  height: 35px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.name {
  color: #fff;
}
.v487019_938 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 876px;
  left: 1787px;
  overflow: hidden;
}
.v487019_939 {
  width: 30px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
.name {
  color: #fff;
}
.v487019_949 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 868px;
  left: 765px;
  overflow: hidden;
}
.v487019_950 {
  width: 27px;
  height: 35px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
}
.v487019_899 {
  width: 556px;
  height: 945px;
  background: url("../images/v487019_899.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 53px;
  overflow: hidden;
}
.v487019_900 {
  width: 556px;
  height: 945px;
  background: rgba(136,136,136,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_901 {
  width: 479px;
  height: 495px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 39px;
  overflow: hidden;
}
.v487019_902 {
  width: 439px;
  height: 474px;
  background: url("../images/v487019_902.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 59px;
  overflow: hidden;
}
.v487019_903 {
  width: 439px;
  height: 358px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 116px;
  left: 0px;
  overflow: hidden;
}
.v487019_904 {
  width: 420px;
  height: 77px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 19px;
  overflow: hidden;
}
.v487019_905 {
  width: 401px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 136px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_906 {
  width: 418px;
  height: 63px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_907 {
  width: 108px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 15px;
  left: 19px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v487019_908 {
  width: 432px;
  height: 45px;
  background: url("../images/v487019_908.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 340px;
  left: 59px;
  overflow: hidden;
}
.v487019_909 {
  width: 432px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v487019_910 {
  width: 300px;
  height: 300px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 66px;
  border-radius: 50%;
}
.v487019_911 {
  width: 270px;
  height: 270px;
  background: url("../images/v487019_911.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 140px;
  overflow: hidden;
}
.v487019_912 {
  width: 270px;
  height: 270px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v487019_913 {
  width: 64px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 103px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v487019_951 {
  width: 40px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 370px;
  overflow: hidden;
}
.v487019_952 {
  width: 23px;
  height: 23px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 13px;
}
.v487019_953 {
  width: 30px;
  height: 30px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 5px;
}
